<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./assets/images/Bandet.png">
    <title>Seth K-<%= title %></title> 
    <link rel="stylesheet" href='/scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/content/style.css' />
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Seth Kaminski</h1>
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" 
                <% if(title == "Home") { %> class="active" <% } %>
            > <a  href="/"> Home </a> </li>
            <li role="presentation"
                <% if(title == "About") { %> class="active" <% } %>
            > <a  href="/about"> About </a> </li>
            <li role="presentation"
                <% if(title == "Projects") { %> class="active" <% } %>
            > <a  href="/projects"> Projects </a> </li>
            <li role="presentation"
                <% if(title == "Services") { %> class="active" <% } %>
            > <a  href="/services"> Services </a> </li>
            <li role="presentation"
                <% if(title == "Contact") { %> class="active" <% } %>
            > <a  href="/contact"> Contact </a> </li>
            <li role="presentation"
                <% if(title == "Games") { %> class="active" <% } %>
            > <a  href="/games"> Games </a> </li>
        </ul>