<% include ../partials/header.ejs %>
<ul class="nav nav-tabs">
  <li role="presentation"> <a  href="/"> Home </a> </li>
  <li role="presentation"> <a  href="/about"> About </a> </li>
  <li role="presentation"> <a  href="/projects"> Projects </a> </li>
  <li role="presentation"> <a  href="/services"> Services </a> </li>
  <li role="presentation" class="active"> <a  href="/contact"> Contact </a> </li>
</ul>

<div class="panel-body">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <p>Contact me by</p>
    <p>Phone number: (905) 441-4145</p>
    <p>Email: sethgabe{@}yahoo.com</p>
  </div>
</div>
<% include ../partials/footer.ejs %> 