<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/content/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>About Me <%= title %></p>
    <a href="/">home</a>
  </body>
</html>
