<% include ../partials/header.ejs %>
<div class="panel-body">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <p>Games</p>

        <%=games.length %>
        <% for (let count = 0; count < games.length; count++) { %>
            <%=games[count].name %>
        <% } %>
  </div>
</div>
<% include ../partials/footer.ejs %> 